@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    margin-top: 10%;
    padding: 5px;
    width: 300px;
    text-align: center;
    background: rgb(205, 104, 218);
    border-radius: 10px;
    position: relative;
    box-shadow: 2px 2px 0px 3px #dddddd63;
    margin-left: 20px;
}

.box img{
    width: 100%;    
    border-radius: 3px;
    transition: all 0.3s ease;
}

.cart-btn{
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    background-color: #212121;
    color: #48d4ba;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    transition: all ease 0.3s;
    position: relative;
    margin: 14px;
}

.cart-btn:hover {
    background-color: #444343;
}

.count{
    position: absolute;
    height: 20px;
    width: 20px;
    display: inline-flex;
    top: 0;
    left: 100%;
    transform: translate(-50%, -50%);
    background-color: #85cb33;
    justify-content: center;
    align-items: center;
    color: #212121;
    font-size: 14px;
    border-radius: 400px;
    transition: all ease 1s;
    z-index: 1;
}

.cart{
    position: absolute;
    right: 3%;
    top: 0;
    margin: auto;
    border-radius: 4px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    background-color: #efefef;
    margin: 15px;
    font-size: 20px;
    background-color: #212121;
    color: #efefef;
}

.count{
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #33cb91;
    border-radius: 500px;
    font-size: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top: 6px;
    left: 31px;
    color: #100b00;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.btn{
    padding: 16px 32px;
    border: none;
    border-radius: 4%;
    background-color: #4caf50;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    transform: all ease 0.5s;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.cart i{
    padding-top: 25px;
    color: #e7f75a;
}